<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>VibeLink – <%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="<%= title.toLowerCase() %>">

  <div class="header-inner container">
    <div class="logo">
      <a href="/"><img src="/images/vibelink-logo.png" alt="VibeLink Logo"></a>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>

</header>
