header a {
  text-decoration: none;
}

header img {
  max-width: 100%;
  height: auto;
}

header ul {
  list-style: none;
}

#main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 16px 0;
  z-index: 999;
}

#main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-950);
  margin-left: 10px;
}

.logo img {
  max-height: 50px;  
  width: auto;       
  margin-right: 8px; 
}

.logo span {
  font-size: 1rem;  
}

/* nav styles */
nav {
  display: flex;
  align-items: center;
  padding-right: 100px;
}

.nav-links {
  display: flex;
  gap: 24px;
}

.nav-links a {
  color: var(--text-950);
  font-weight: 500;
  position: relative;
 
}

.nav-links a:hover, 
.nav-links a.active {
  color: var(--gradient-start);
}

#login-btn {
  padding: 8px 16px;
  font-weight: 400;
}


