body {
    background-color: #4b5563;
    margin: 0;
}

.featured-events .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
  }
.hero {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-content {
    text-align: center;
    color: black;
}
.hero-content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: black;
}
@media (min-width: 768px) {
    .hero-content h1 {
        font-size: 3rem;
    }
}
.hero-content p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
    .hero-content p {
        font-size: 1.25rem;
    }
}
.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.featured-events {
    background-color: #f3f4f6;
    padding: 3rem 0; 
    text-align: center;
}
.section-header h2 {
    font-size: 2rem;
    color: #1f2937;
    margin-bottom: 0.5rem;
}
.section-header p {
    font-size: 1rem;
    color: #6b7280;
    margin-bottom: 2rem;
}

.view-all {
    margin-top: 2rem;
}

.cta {
    background: linear-gradient(to bottom, #3b82f6, #2563eb);
    padding: 2rem 0; 
    text-align: center;
    color: black;
}
.cta-content h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.cta-content p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .events-grid {
        grid-template-columns: 1fr;
    }
}