
<%- include('../partials/header') %>

<section class="about-intro-section">
  <div class="container">
    <div class="about-intro-content">
      <div class="about-intro-text">
        <h2>What is Vibe Link? </h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error ullam saepe vitae. Ullam deleniti fugit pariatur voluptate. Fugiat voluptatum dolorem possimus consectetur. Temporibus incidunt quaerat officia similique labore, odit asperiores.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quisquam rerum magni iusto unde assumenda suscipit consectetur accusamus modi ipsum! Fugit doloribus facere quaerat voluptatum dolor, mollitia nulla repellat dignissimos.</p>
      </div>
    </div>
  </div>
</section>


<div class ="about-container">
    <section class="about-section">
        <h1>About Us</h1>
        <p class="about-intro">Get to know the VibeLink dream team!</p>
      
        <ul class="team-list">
          <% team.forEach(member => { %>
            <li class="team-member-card">
              <div class="member-info">
                <strong><%= member.name %></strong>
                <span><%= member.role %></span>
              </div>
            </li>
          <% }) %>
        </ul>
    </section>
  </section>
</div>

<section class="Join-community">
  <div class="container">
      <div class="Join-community-content">
          <h2>Join Our Community Today</h2>
          <p>Be part of the VibeLink community and make lasting connections :)</p>
          <a href="/contact" class="btn btn-primary">Get Involved</a>
      </div>
  </div>
</section>


<%- include('../partials/footer') %>

