<%- include('../partials/header') %>

<main class="thankyou-page">
  <div class="container">
    <div class="thankyou-card">
      <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
<dotlottie-player src="https://lottie.host/75365841-5373-4ac2-a88c-e5bd5605b22c/6f6yq857ka.lottie" background="transparent" speed="1" style="width: 200px; height: 200px" loop autoplay></dotlottie-player>
      <h2>Thank You, <%= name %>!</h2>
      <p>Your message has been received. Our team will be in touch within 1–2 business days.</p>
      <a href="/" class="btn btn-secondary">Back to Home</a>
    </div>
  </div>
</main>

<%- include('../partials/footer') %>